/* X large device */
@media screen and (max-width: 1400px) {

  .container,
  main {
    max-width: 1170px;
  }

  .facts-cards-container .card {
    padding: 3.5rem 2.5rem;
  }

  .facts-cards-container {
    gap: 6rem;
    padding: 0px 3rem;
  }
}

/* large device */
@media screen and (max-width: 1200px) {}

/* medium device */
@media screen and (max-width: 992px) {

  .container,
  main {
    max-width: 950px;
  }

  .team {
    padding: 3.5rem;
  }

  .team-info .section-title {
    width: auto;
  }

  .facts-info {
    width: 100%;
  }

  .facts-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-img-container img {
  }
}

/* small device */
@media screen and (max-width: 768px) {

  nav,
  nav>ul,
  .team,
  .sponsor-img-container {
    flex-direction: column;
  }
}

/* mobile device */

@media screen and (max-width: 576px) {

  .btn-primary {
    padding: 1.5rem 2rem;
    font-size: 16px;
  }

  .section-title {
    font-size: 3.5rem;
  }

  nav {
    padding: 2rem 0;
  }

  nav h3 {
    font-size: 35px;
  }

  .banner-info .section-title {
    font-size: 4rem;
  }

  .team {
    padding: 0;
  }
  .facts-cards-container {
    grid-template-columns: 1fr;
  }
  .sponsor-info {
    width: 100%;
  }
}