/* X large device */
@media screen and (max-width: 1400px) {

  .container,
  main,
  footer {
    max-width: 1170px;
  }

  .facts-cards-container .card {
    padding: 3.5rem 2.5rem;
  }

  .facts-cards-container {
    gap: 6rem;
    padding: 0px 3rem;
  }

  .feature-img .badge {
    width: 300px;
    padding: 3.5rem 3rem;
  }

  .feature-img .badge h4 {
    font-size: 5rem;
  }

  .feature-img .badge p {
    font-size: 2rem;
  }
}

/* large device */
@media screen and (max-width: 1200px) {}

/* medium device */
@media screen and (max-width: 992px) {

  .container,
  main,
  footer {
    max-width: 950px;
  }

  .team {
    padding: 3.5rem;
  }

  .team-info .section-title {
    width: auto;
  }

  .facts-info {
    width: 100%;
  }

  .facts-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* small device */
@media screen and (max-width: 768px) {

  nav,
  nav>ul,
  .team,
  .features,
  .sponsor-img-container {
    flex-direction: column;
  }

  .features {
    gap: 5rem;
  }

  .feature-content .card {
    padding: 2rem;
  }

  .features {
    padding: 2rem;
  }

  .feature-img img {
    margin-left: 0;
  }

  .feature-img .badge {
    width: 100%;
    bottom: 5rem;
    left: 0;
  }
}

/* mobile device */

@media screen and (max-width: 576px) {

  .team,
  .features,
  .facts,
  .sponsors {
    padding: 3rem 0;
  }

  .btn-primary {
    padding: 1.5rem 2rem;
    font-size: 16px;
  }

  .section-title {
    font-size: 3.5rem;
  }

  nav {
    padding: 2rem 0;
  }

  nav h3 {
    font-size: 35px;
  }

  .banner-info .section-title {
    font-size: 4rem;
  }

  .facts-cards-container {
    grid-template-columns: 1fr;
  }

  .sponsor-info {
    width: 100%;
  }
}